<form action="/subgoals" method="post">


  <label>Click the button to add a Subgoal</label>
  <br>

  <input type="button" value="Add" onclick="addInput()"/>

  <span id="response"></span>
  <script>
  var countBox = 1;
  var boxName = 0;
  function addInput()
  {
       var boxName="subgoal"+countBox;
  document.getElementById('response').innerHTML+='<br/><input type="text" name="subgoals['+boxName+']" id="'+boxName+'" value="'+boxName+'" "  /><br/>';
       countBox += 1;
  }
  </script>

  <br><br>
  <label>Pick a goal/goals to add these subgoals to</label>
  <br><br>


    <%@user.goals.each do |goal|%>
      <li><%=goal.content%></li>
    <%end%>


  <input type="submit" value="Create">

</form>
