
<h2>Edit Subgoal</h2>

<div class="container">
  <h3><%=@subgoal.content%></h3>
  <form action="/subgoals/complete/<%=@subgoal.id%>" method="post">
    <br>
    <input type="submit" value="complete">
  </form>
  <br><br>

  <form action="/subgoals/<%=@subgoal.id%>" method="post">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input type="submit" name="" value="delete">
  </form>
</div>
