<form action="/login" method="post">
  <label>Enter User Name:</label>
  <input type="text" name="name" value="" id="name">

  <label>Enter password:</label>
  <input type="password" name="password" value="" id=password>

  <input type="submit" value="submit">

</form>
