<!-- Links to the other pages -->

<nav>
  <a href="/goals">View goals</a>
  <a href="/subgoals">View all subgoals</a>
  <a href="/goals/new">Create a new goal</a>
  <a href="/">Home</a>
  <a href="/logout">Logout</a>
  
</nav>
