
<h2>Recently finished Goals</h2>
<div class="container">
  <%if @user_dup == nil || @user_dup.goals.empty?%>
    No goals at this time
  <%else%>
    <%@user_dup.goals.each do |goal|%>
      <li><h3><%=goal.content%></h3></li>
    <%end%>
  <%end%>
</div>
<br><br>
<h2>Recently finished Subgoals</h2>
<div class="container">
  <% if @subgoal == nil %>
    No Subgoals at this time
  <%else%>
    <li><h3><%=@subgoal.content%></h3></li>
  <%end%>
</div>
