<h2>Recently finished Goals</h2>
<%@user_dup.goals.each do |goal|%>
  <li><%=goal.content%></li>

<%end%>
<h2>Recently finished Subgoals</h2>
<%@user_dup.goals.each do |goal|%>
  <%goal.subgoals.each do |subgoal|%>
    <li><%=subgoal.content%></li>
  <%end%>
<%end%>
