
<form action="/goals" method="post">
  <label for="goal">Goal:</label>
  <input type="text" name="goal" id="goal" required>
  <br><br>

  <label>Click the button to add a Subgoal</label>
  <br>

  <input type="button" value="Add" onclick="addInput()"/>

  <span id="response"></span>
  <script>
  var countBox = 1;
  var boxName = 0;
  function addInput()
  {
       var boxName="subgoal"+countBox;
  document.getElementById('response').innerHTML+='<br/><input type="text" name="subgoals['+boxName+']" id="'+boxName+'" value="'+boxName+'" "  /><br/>';
       countBox += 1;
  }
  </script>

  <br><br>


  <input type="submit" value="Create">

</form>
<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>
