<div class="container">
  <%count = 0%>
  <%@user.goals.each do |goal|%>
    <ul>
      <a href="/goals/<%=goal.id%>"><h3><%=goal.content%></h3></a>
      <br>
    </ul>
    <%count = count + 1%>
  <%end%>

</div>
<br><br>

<h2>You have a total of <%=count%> goals</h2>
