<h1>All goals:</h1>
<%count = 0%>
<%@user.goals.each do |goal|%>
  <ul>
    <a href="/goals/<%=goal.id%>"><%=goal.content%></a>
  </ul>
  <%count = count + 1%>
<%end%>
<h2>You have a total of <%=count%> goals</h2>

<a href="/goals/new">Link to create a goal</a>
