<h1>Goal:</h1>

<%=@goal.content%>

<h2>Subgoals for this goal</h2>

<%@goal.subgoals.each do |subgoal|%>
  <ul>
    <li><%=subgoal.content%></li>
  </ul>
<%end%>
<a href="/goals/<%=@goal.id%>/edit">Edit Goal</a>
<a href="/goals">Back to Goals</a>
<a href="/show">Back to profile</a>
