<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Golf Club Organizer</title>
  </head>
  <body>
    <header>
      <nav>
        
      </nav>
    </header>

      <h1>Hello and Welcome to Goal Lister</h1>
      <% if logged_in? %>

        <a href="/users/show"> Profile</a>
        <a href="/logout"> Log Out </a>
        <p>Welcome, <%=current_user.name %></p>

      <% else %>
        <a href="/signup">Sign Up</a>
        <a href="/login"> Log In </a>
      <%end %>

  </body>
</html>
