<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">

    <title>Goal lister</title>
  </head>
  <body>

      <% if logged_in? %>
      <nav>
        <div class="topnav">
          <ul>
            <li><a href="/goals/complete">complete goals</a></li>
            <li><a href="/goals">View goals</a></li>
            <li><a href="/subgoals">View all subgoals</a></li>
            <li><a href="/goals/new">Create a new goal</a></li>
            <li><a href="/">Home</a></li>
            <li><a href="/logout">Logout</a></li>
          </ul>
        </div>
      </nav>
      <% else %>

        <a href="/signup">Sign Up</a>
        <a href="/login"> Log In </a>
      <%end %>
      <%=yield%>

  </body>
</html>
